.sprint {
  margin-bottom: 20px;
}

.sprint__slide {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  display: block;
  color: #fff;
  text-align: left;
}
.sprint__wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
/* .sprint__wrap div{

} */
.sprint__slide p {
  margin: 0;
  margin-bottom: 10px;
}

.sprint__title {
  font-size: 28px;
}
.sprint__subtitle {
  max-width: 60%;
  font-size: 14px;
}

.sprint__btn {
  --box-shadow: none;
}
